@import url('https://logseq.catppuccin.com/ctp-frappe.css');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

:root {
  --ls-font-family: "Atkinson Hyperlegible";
  --ls-font-weight: 400;
  --ls-font-style: normal;
  --ls-page-text-size: 1.1em; /* page font size */
  --ls-page-title-size: 2.1em; /* page title font size */
  --ct-line-height: 1.6 /* set line height */
  --ct-code-font-family: var(--ls-font-family); /* use the same font for codeblocks */
  --ct-inline-code-font-weight: 400;
  --ct-text-size: var(--ls-page-text-size);
}

html,
body {
  font-size: var(--ct-text-size);
  font-family: var(--ls-font-family);
  overscroll-behavior-y: none;
  -webkit-font-smoothing: auto;
  line-height: var(--ct-line-height);
  font-weight: var(ls-font-weight)
}

textarea {
  line-height: var(--ct-line-height);
}
